<section class="overlay me publish">
    <h2>Create a Post!</h2>
    <div class="content">
        <div class="editable" id="postContent" contenteditable="true" data-placeholder="Say something or post a photo/video"></div>
        <div class="files" id="publishFiles"></div>
        <div class="audience">
            <b>Post to <a>Public</a> <i class="fa fa-caret-down"></i></b>
        </div>
        <ul class="post">
            <li><button title="Add photo(s)/video(s)" class="publish upload"><i class="fas fa-photo-video"></i></button></li>
            <li><button title="Tag a Friend" class="publish tag"><i class="fas fa-user"></i></button></li>
            <li><button title="Tag a Location" class="publish location"><i class="fas fa-map-signs"></i></button></li>
            <li><button title="Post!" class="post" id="drag" onclick="">Post!</button></li>
        </ul>
    </div>
</section>