<section class="overlay me menu">
    <div class="bgonly">
        <h2>Test User</h2>
    </div>
    <ul class="header">
        <li><a class="submenu selected" onclick="$('members').navSub('stuff', this);">My Stuff</a></li>
        <li><a class="submenu" onclick="$('members').navSub('settings', this);">Settings</a></li>
    </ul>
    <ul class="items stuff">
        <li class="line"><a href="#"><i class="fas fa-eye"></i><b>Views</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-photo-video"></i><b>Media</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-upload"></i><b>Upload</b></a></li>
        <li class="line"><a href="#"><i class="fa fa-group"></i><b>Friends</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-rss-square"></i><b>Blogs</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-calendar-alt"></i><b>Events</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-newspaper"></i><b>Groups</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-map-signs"></i><b>Locations</b></a></li>
    </ul>

    <ul class="items settings">
        <li class="line"><a href="#"><i class="fas fa-user"></i><b>Edit Profile</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-cog"></i><b>Account Settings</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-house-user"></i><b>Feed Settings</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-user-secret"></i><b>Privacy Settings</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-exclamation-circle"></i><b>Notifications Preferences</b></a></li>
        <li class="line"><a href="#"><i class="fas fa-credit-card"></i><b>Payments</b></a></li>
        <li class="line"><a href="#"><i class="fa fa-shield"></i><b>Certification</b></a></li>
    </ul>
    <a class="more"><i>Log Out</i></a>
</section>