<section class="overlay me messages">
    <h2>Messages</h2>
    <ul class="header">
        <li><a onclick="$('messages').query();" class="selected">All</a></li>
        <li><a onclick="$('messages').query();" class="">Unread</a></li>
        <li><a onclick="$('messages').query();" class="">Sent</a></li>
        <li><a onclick="$('messages').query();" class="">Trash</a></li>
    </ul>

    <hr>

    <ul class="items activity">
        <li class="item message">
            <div class="img">
                <a class="avatar" href=""><img src="/assets/img/place/profile.jpg"></a>
            </div>
            <div class="text">
                <a class="user" href="">tester</a><i class="dt">5 hours ago</i>
                <p>This is a temporary message. Hi there.</p>
            </div>
        </li>

        <li class="item message">
            <div class="img">
                <a class="avatar" href=""><img src="/assets/img/place/profile.jpg"></a>
            </div>
            <div class="text">
                <a class="user" href="">tester</a><i class="dt">5 hours ago</i>
                <p>This is a temporary message. Hi there.</p>
            </div>
        </li>


        <li class="item message">
            <div class="img">
                <a class="avatar" href=""><img src="/assets/img/place/profile.jpg"></a>
            </div>
            <div class="text">
                <a class="user" href="">tester</a><i class="dt">5 hours ago</i>
                <p>This is a temporary message. Hi there.</p>
            </div>
        </li>


        <li class="item message">
            <div class="img">
                <a class="avatar" href=""><img src="/assets/img/place/profile.jpg"></a>
            </div>
            <div class="text">
                <a class="user" href="">tester</a><i class="dt">5 hours ago</i>
                <p>This is a temporary message. Hi there.</p>
            </div>
        </li>


    </ul>
    <a class="more"><i>View all</i></a>
</section>