<li class="execute">Connect to auth server <button id="auth1">Execute</button></button><span id="result"></span></li>
<li class="execute">Test Login <button id="auth2">Execute</button></button><span id="result"></span></li>
<li class="execute">Test Register <button id="auth3">Execute</button></button><span id="result"></span></li>
<li class="execute">Logout <button id="auth4">Execute</button></button><span id="result"></span></li>
<li class="execute">Test Forgot <button id="auth5">Execute</button></button><span id="result"></span></li>
